@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
body{
  background-size: cover, contain;
  background-image: url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876007.jpg);
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #003044;
 
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #c37474;
}
.navbar h1 {
  color: #f3f4f4;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: #fafafa;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #000000;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* movie previews / list */
.movie-preview, .movie-details {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff40;
  border-radius: 15px;
}
.movie-preview:hover {
  box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.1);
}
.movie-preview h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 8px;
}
